
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p, div{
    color: #fff;
    font-family: sans-serif;
}

p{
    font-size: .5rem;
}


.outFrame{
    width: 70%;
    background-color: black;
    padding: 10% 5%;

    .innerFrame{
        border-radius: 6px;
        padding: 2% 3%;
        background-color: #fff;


        .values{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            
            text-align: center;
            padding: 4% 0;
            background-color: #000;
            border-radius: 6px;

            div{
                font-size: 1.1rem;
            }
        }
        
    }

}

